html, body {
	margin: 0;
	line-height: 1.2;
	font-family: serif;
	font-size: 20px;
}

/* V1 normal */
.header {
	z-index: 2;

	/* version multiple bg proprieties */
	
	/* background-image: url(https://fakeimg.pl/50x50);
	background-image:
		linear-gradient(to bottom, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.4)),
		url(img/banniere.jpg);
	background-color: azure;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-position: center top;
	background-size: cover; */

	/* version 1 bg proprietie */
	
	background: 
		linear-gradient(to bottom, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.4)),
		center top / cover no-repeat url(img/banniere.jpg) fixed;

	padding: 20px;
	height: auto;
	height: 600px;
	color: rgb(255, 255, 255);
} 

/* V2 image dans texte */
/* .header {
	z-index: 2;
	background-image: url(img/banniere.jpg);
	background-color: azure;
	background-repeat: no-repeat;
	background-position: center top;
	background-position: center bottom;
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
color: transparent;
	padding: 20px;
	height: 300px;
	height: auto;
}  */

.header img {
	width: 100%;
	height: auto;
}

.main .banniere {
	width: 100%;
	height: auto;
	margin: 0;
}

.header-title {
	/* font-size: 160px; */
	text-align: center;
	margin: 0;
	font-weight: bold;
	text-transform: capitalize;
	z-index: 4;
}

.header-nav {
	overflow: hidden;
	background: red;
	color: white;
	margin: 20px 0;
	text-align: center;
	text-transform: capitalize;
	z-index: 3;
}

.header-nav a {
	float: left;
	width: 33.33%;
	background: rgba(144, 238, 144, .9);
	color: inherit;
	text-decoration: none;
}

.header-nav a:hover {
	text-decoration: underline;
	background-color: rgba(144, 238, 144, .7);
}

span {
	background: lightgreen;
}

.main {
	z-index: 1;
	background: lightgrey;
	padding: 60px 0px 20px;

}

.main p, .main h2 {
	padding: 0px 20px ;
}

.main p {
	text-align: justify;
}

.footer {
	background: grey;
	padding: 10px 20px;
}

.button {
	color: white;
	background: lightblue;
	text-decoration: none;
	padding: .5em 1em;
	font-size: 1rem;
	z-index: 5;
}

.button2 {
	color: white;
	background: lightgreen;
	text-decoration: none;
	padding: .5em 1em;
	font-size: 1.25rem;
}

.button3 {
	color: white;
	background: lightpink;
	text-decoration: none;
	padding: .5em 1em;
	font-size: 20px;
}

.alignleft {
	float: left;
	margin-right: 10px;
	margin-bottom: 30px;
}

hr {
	clear: both;

}